DEBUG="ftpd,AzureBlobFS"
BLOB_ACCOUNT_NAME=azure_blob_name
BLOB_SECRET="azure_secret"
NODE_ENV=production
CONTAINER_PASSWORD_METADATA_NAME="metadata_field_name_for_password"
FTP_HOST="public_ip_address"
FTP_PORT=21
FTP_PASSVPORTMIN=10021
FTP_PASSVPORTMAX=10100
CERT_KEY_PATH="/etc/letsencrypt/live/domain/privkey.pem"
CERT_PATH="/etc/letsencrypt/live/domain/fullchain.pem"
CERT_FULL_PATH="/etc/letsencrypt/live/domain/fullchain.pem"
USERNAME_WEB_REPLACE="usermane_to_replace_with_$web_folder_after_login"
